// COLORS

$brown: #b98f61;
$green: #99cc33;
$turquoise:#44c3c0;
$footer-bck:#383d3f;
$orange:#f3a332;
$yellow:#d6dd20;
$violet:#e580ea;
$pink:#c84c92;
$lightgreen: #a8e2d4;
$lightgrey: #f6f6f6;
